/*NAV*/
header {
	/*background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(123, 207, 62, 0.96) 100%);
	background-color:#6C9;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);*/
	display: block;
	position:absolute;
	width: 1100px;
	z-index: 100;
	margin-top:10px;
	height:40px;
}
#div_search
{
	width:325px;
	height:25px;
	border:1px solid #CCC;
	margin-left:100px;
}
header nav input[type="text"]
{
	height:25px;
	width:300px;
	border:none;
	margin:0;
}
header nav input[type="submit"]
{
	height: 25px;
	width: 25px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFF;
	float: right;
	border: 0px;
	margin:0;
	cursor:pointer;
	position:absolute;
}
header > nav > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}
header > nav > ul > li {
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	position: relative;
	transition: all linear 0.1s;	
}
header > nav > ul > li:hover {
	/*background: rgba(58,162,173,1);*/
	background-color:#093;
	border-radius:10px;
}

header > nav > ul > li a + div {/*Child*/
	/*background: linear-gradient(to bottom,rgba(58,162,173,1) 0,rgba(62,188,207,0.96) 100%);*/
	background-color:#093;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 3px 1px rgba(0,0,0,.05);
	display: none;
	font-size: 25px;
	position: absolute;
	width: 230px;
	border-radius:0 0 10px 10px;
}
header > nav > ul > li:hover a + div {
	display: block;
}

header > nav > ul > li a + div > ul {
	list-style-type: none;	
}
header > nav > ul > li a + div > ul > li {
	margin: 0;
	padding: 0;
}
header > nav > ul > li a + div > ul > li > a {/*child*/
	color: rgba(255,255,255,.9);
	display: block;	
	font-size: 16px;
	letter-spacing: 1.5px;
	padding: .25rem 1.5rem;
	text-decoration: none;
}
						
header > nav > ul > li a + div > ul > li:hover > a {
	background-color: rgba(0,0,0,.15);	
}
header > nav > ul > li > a 
{
	align-items: flex-start;
	color: #fff;
	display: flex;
	font-size:10px;
	letter-spacing: 0px;
	max-width: 100px;
	padding: 1rem 1rem;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	transition: all linear 0.1s;
	
}
@media (min-width: 990px) {
  header > nav > ul > li > a {
    max-width: 500px;
    font-size: 15px;
	line-height: 0rem;
  }
}