* {
	margin: 0;
	padding: 0;
}
.menu1
{
	margin-top:10px;
}
.menu-container 
{
  display: block;
  position: relative;
  width: 250px;
  background-color:#6C9;
  margin: 5% auto 0;
  padding: 0;
  border-radius:5px;
  box-shadow:  inset 0 0 1px rgba(255,255,255,1);
  box-shadow:  5px 5px 15px 1px rgba(0,0,0,0.1);
}

.nav-container
{
  background-color:#6C9;
  height:40px;
  border-radius:10px 10px 0 0;
  font-size:20px;
  list-style:none;
  text-align:center;
  color:#FFF;
}

.nav-container li {
	padding-top: 8px;
}

.menu ul {
  list-style:none;
}

.menu ul li 
{
  border-top:1px solid rgba(0,0,0,0.1);
  padding:11px 10px;
  box-shadow:inset 0 1px 1px #fff;
}

.menu ul li a 
{
  font-size:14px;
  color:#a4a3a3;
  font-family: 'Strait', sans-serif;
  font-size:14px;
  text-decoration:none;
  text-shadow: 1px 1px 1px #fff;
}
.menu ul li:hover 
{
  border-left:3px solid #6C9;
  background-color:rgba(0,0,0,0);
}