
body,h1,h2,h3,h4,h5,h6,p,ul{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
body{line-height:1}
ul{list-style:none}
.clr{
	clear: both;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
	color: #f2f2f2;
}
a:hover{
	color: #2c4b4f;
}
h1
{
	font-size:20px;
}

/*Gradient*/
.gd{
	background-color:#0C6;
}


#header,#footer{
	width: 100%;
	height: 50px;
	background:#e5e5e5;
	color: #fff;
	text-align: center;
	line-height: 41px;
}
#header{
	border-bottom: 1px solid rgba(255,255,255,.1);
	background-color:#6C9;
}
.info {
	margin-bottom: 30px;
}
.info img{
	float: left;
	border: 1px solid #8a8a8a;
	cursor: pointer;
	margin:0px 8px;

}
.info h4{
	display: inline;

}
#contenta{
	width: 1340px;
margin: auto;
min-width: 1234px;
height: auto;
}
#contenta a{
	color: #292929;
}


#lsidebar{
	background: #fff;
	width: 250px;	 
	padding: 20px 0px 50px 0px;
	height: 550px;
	float:left;
	border-right:0px dashed;
}

#lsidebar h1{
	text-transform: capitalize;
	padding: 10px 15px;
	color: #f2f2f2;
	text-shadow: 0px -1px 0px #000;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
#lsidebar h1 a
{
	color:#f2f2f2;
	
}
#lsidebar h4{
	padding: 5px 15px;
	font-size: 15px;
	margin: 10px 20px;
	border-bottom: 1px dashed #000;
}
#lsidebar ul li{
	border: 1px solid rgba(0,0,0,0.1);
	position: relative;
}

#lsidebar ul li:hover{
	background-color:#090;	
}
#lsidebar ul li:hover a{
	color:#FFF;
}
#lsidebar ul li ul li a{
	color:#090 !important;
}
#lsidebar ul li ul li:hover a{
	color:#FFF !important;
}


#lsidebar ul li{
	display: block;	
	padding: 10px 25px;
	font-size: 14px;
	color: #292929;
	background-color:#FFF;
}
#lsidebar ul li a:hover{
	color:#FFF;
}

#lsidebar ul li ul {
	position: absolute;
	top: -1px;
	left: 249px;
	display: none;
	z-index:100;
}
#lsidebar ul li:hover ul {
	display: block;
	width: 100%;
	

}

#topMenu
{
	position:relative;
	float:right;
	right: 0px;
	height: 50px;
}
#topMenu li
{
	display:block;
	min-width:80px;
	height:24px;
	float:left;
	position:relative;
	padding-top:3px;
	
	}
#topMenu li a
{
	display: block;
	text-decoration: none;
	padding: 5px 8px;
	color:#000;	
}
#topMenu li a:hover
{
	text-decoration:underline;
}
#topMenu li img
{
	padding:10px;
}
#topMenu li div
{
	position:absolute;
	right:2px;
	top:50px;
	height:200px;
	width:220px;
	display:none;
	background-color:#FFF;
	box-shadow: inset 0px 0px 10px #000;
	z-index:1000;
}
#topMenu li div img
{
	width:70px;
	height:70px;
	padding:5px;
	margin:5px;
	float:left;
}
#topMenu li p
{
	float:left;
	margin-left:10px;
	color:#000;
	font-weight:bold;
}
#topMenu li div a
{
	color:#00F;
}
#topMenu li div div
{
	position:absolute;
	top:90px;
	right:10px;
	width:200px;
	height:100px;
	box-shadow:none;
	margin-left:10px;
}
#topMenu li:hover div
{
	display:block;
	clear:both;
}
#main-content{
	width:900px;
	height:auto;
	background:#FFF;
	padding: 20px 0px 50px 0px;
	position:relative;
	float:left;
	
}
#search
{
	width:1099px;
	height:50px;
	background-color:#ACDFBB;
	margin-bottom:20px;
}
#search input[type = "text"]
{
	float: left;
	width: 320px;
	margin-left: 300px;
	margin-top: 15px;
}
#search input[type = "submit"]
{
	float: left;
	width: 70px;
	margin-left:20px;
	margin-top: 15px;
}
#Them
{
	width:500px;
	height:100px;
	float:right;
}
#Them input[type = "submit"]
{
	width:200px;
	height:50px;
	float:right;
	background-color:#6C9;
	color:#FFF;
	margin-right:100px;
	font-size:16px;
	border-radius:10px;
	margin-top:20px;
	
}
#frm
{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background: rgba(0, 0, 0, 0.5);
	z-index:2000;
}
#Show_frm
{
	width:600px;
	height:250px;
	margin:auto;
	background-color:#FFF;
	margin-top:50px;
}
#header_frm
{
	width:600px;
	height:50px;
	background-color:#ACDFBB;
}
#h5
{
	font-size: 22px;
	padding: 10px;
	text-align: center;
	color: #FFF;
}
#btn
{
	width: 500px;
	height: 50px;
	margin-right: 15px;
	margin-top: 35px;
}
#btn input[type="submit"]
{
	width:100px;
	height:25px;
	margin-right:15px;
	float:right;
	color:#6C9;
	background-color:#FFF;
	border:1px solid #6C9;
}
#btn input[type="button"]
{
	width:100px;
	height:25px;
	margin-right:15px;
	float:right;
	color:#FFF;
	background-color:#6C9;
	border:1px solid #FFF;
}
.table_size
{
	width:600px;
	height:300px;
}
#Ten
{
	float:left;
	width:200px;
	height:40px;
	text-align:right;
    margin-right:25px;
}
#Input
{
	float:left
	width:70px;
	height:40px;
	text-align:left;
}

td.them {
	background:#0C9;
	color:#FFF;
	font-size:26px;
	font-weight:bold;
	width: 956px;
	text-align:center;
}
#PhanTrang
{
	float: left;
	list-style: none;
	margin-top: 40px;
}
#PhanTrang li
{
	float:left;
	list-style:none;
	width:25px;
	height:20px;
	border: 1px solid #CCC;
	text-align:center;
	margin:3px;
}
#PhanTrang li:hover
{
	background-color:#6C9;
}
#PhanTrang li:hover a
{
	color:#FFF;
}